[Unit]
Description=win-a11y-shell Windows 11 Desktop UI Shell + Orca
After=network.target sound.target display-manager.service

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/root/.Xauthority"
ExecStart=/usr/local/bin/win-a11y-restart
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=default.target
